parameters:
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false

	excludes_analyse:
		- 'tests/**.php'

	ignoreErrors:
		- '/Call to an undefined method Setono\\TagBag\\Tag\\TagInterface::getContent/'
